In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [2]:
#Loading the data
today = str(date.today())
df_branch_service = pd.read_json("branch_service_transaction_info.json")
df_customer_transaction = pd.read_json("customer_transaction_info.json")

In [3]:
#Profiling the data
df_branch_service.head(10)

      txn_id    branch_name    service  price
0  TXN-24546     MallOfAsia   Manicure    NaN
1  TXN-14642       Starmall  HairColor    NaN
2  TXN-60295      SmallMall    FootSpa    NaN
3  TXN-60295       Starmall    FootSpa    NaN
4  TXN-60295        MayMall    FootSpa    NaN
5  TXN-60295      FrankMall    FootSpa    NaN
6  TXN-40462       Starmall  HairColor    NaN
7  TXN-40462       Megamall  HairColor    NaN
8  TXN-08102  RobinsonsMall  HairColor    NaN
9  TXN-08102      SmallMall  HairColor    NaN

In [4]:
df_customer_transaction.head(10)

      txn_id  avail_date last_name first_name    birthday
0  TXN-24546  2030-09-08     ORTIZ    EDUARDO  1990-07-08
1  TXN-14642  2026-05-26    NIENOW        LEA  2000-11-26
2  TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
3  TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
4  TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
5  TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
6  TXN-40462  2021-08-21      KUHN        TOD  2002-11-25
7  TXN-40462  2021-08-21      KUHN        TOD  2002-11-25
8  TXN-08102  2010-04-03   JOHNSON     MILTON  2003-07-10
9  TXN-08102  2010-04-03   JOHNSON     MILTON  2003-07-10

In [5]:
print(df_branch_service.shape)
print(df_customer_transaction.shape)

(130653, 4)
(130653, 5)

In [6]:
print(df_branch_service['txn_id'].nunique())
print(df_customer_transaction['txn_id'].nunique())

62354
62354

In [7]:
#Dropping duplicates
df_branch_service = df_branch_service.drop_duplicates(subset=['txn_id'])
df_customer_transaction = df_customer_transaction.drop_duplicates(subset=['txn_id'])

In [8]:
#confirming shape
print(df_branch_service.shape)
print(df_customer_transaction.shape)

(62354, 4)
(62354, 5)

In [9]:
#checking null values count per column
df_branch_service.isnull().sum()

txn_id             0
branch_name     8880
service            0
price          11082
dtype: int64

In [10]:
df_customer_transaction.isnull().sum()

txn_id        0
avail_date    0
last_name     0
first_name    0
birthday      0
dtype: int64

In [11]:
#fill up null values with forward fill for branch_name
df_branch_service['branch_name'].unique()

array(['MallOfAsia', 'Starmall', 'SmallMall', 'RobinsonsMall', '', None,
       'MayMall', 'FrankMall', 'N/A', 'Megamall'], dtype=object)

In [12]:
#'' and None are empty values, fill them with forward fill
# first, let '' be null
df_branch_service['branch_name'] = df_branch_service.replace('',np.nan).groupby('txn_id')['branch_name'].transform('first')
# then fill null, use forward and backward to fill
df_branch_service['branch_name'] = df_branch_service['branch_name'].ffill().bfill()

In [13]:
#confirming branch_name has no null
df_branch_service.isnull().sum()

txn_id             0
branch_name        0
service            0
price          11082
dtype: int64

In [14]:
df_branch_service['branch_name'].unique()

array(['MallOfAsia', 'Starmall', 'SmallMall', 'RobinsonsMall', 'MayMall',
       'FrankMall', 'N/A', 'Megamall'], dtype=object)

In [15]:
# group mean fill prices
df_branch_service['price'] = df_branch_service['price'].fillna(df_branch_service.groupby(['branch_name','service'])['price'].transform('mean'))

In [16]:
#confirming price has no null
df_branch_service.isnull().sum()

txn_id         0
branch_name    0
service        0
price          0
dtype: int64

In [17]:
df_branch_service.head(10)

       txn_id    branch_name    service       price
0   TXN-24546     MallOfAsia   Manicure   42.651993
1   TXN-14642       Starmall  HairColor   69.583267
2   TXN-60295      SmallMall    FootSpa   80.037329
6   TXN-40462       Starmall  HairColor   69.583267
8   TXN-08102  RobinsonsMall  HairColor   66.735226
12  TXN-64262      SmallMall     Rebond  312.646002
15  TXN-41934  RobinsonsMall  HairColor   66.735226
19  TXN-39050       Starmall   Manicure   43.364281
21  TXN-43150       Starmall    Haircut   51.769018
22  TXN-49423  RobinsonsMall     Rebond  302.828204

In [18]:
df_merged = pd.merge(df_customer_transaction, df_branch_service)

In [19]:
#profiling of merged dataframe
df_merged.isnull().sum()

txn_id         0
avail_date     0
last_name      0
first_name     0
birthday       0
branch_name    0
service        0
price          0
dtype: int64

In [20]:
df_merged.sample(20)

,txn_id,avail_date,last_name,first_name,birthday,branch_name,service,price
58301,TXN-29745,2017-02-17,Doyle,Alycia,2004-05-08,RobinsonsMall,Haircut,66.123457
40534,TXN-23815,2012-07-19,"Leffler,,,,,,,,",Jamal........,1995-02-07,MallOfAsia,HairColor,88.093930
569,TXN-10113,2015-01-26,LARSON,DEJON,1999-07-14,MallOfAsia,HairColor,68.352993
741,TXN-19836,2010-02-18,SHANAHAN,JAYLAN,2000-05-29,MayMall,Haircut,53.354789
3508,TXN-52408,2027-01-08,WILKINSON,ZECHARIAH,2003-09-11,Megamall,Manicure,41.759774
59537,TXN-27998,2025-01-10,Beer,Keely,2009-02-18,Starmall,FootSpa,100.121230
8717,TXN-48061,2005-05-26,BRAUN,ARTURO,1996-11-16,Starmall,Haircut,51.769018
3794,TXN-26751,2029-03-09,WILKINSON,MELVIN,2010-02-10,Megamall,Rebond,299.487424
33091,TXN-40124,2018-12-22,Tromp,Marlen,1998-07-24,MallOfAsia,Rebond,400.231230
23286,TXN-10067,2028-05-06,Dicki,Jayda,2009-12-16,SmallMall,FootSpa,100.121230
8155,TXN-00982,2021-04-23,GLEASON,GREEN,1995-05-06,MayMall,Haircut,53.354789
33042,TXN-24955,2007-02-04,Aufderhar,Katarina,1999-05-27,MallOfAsia,Manicure,55.232400
26918,TXN-49070,2022-10-14,Hermann,Chadd,1996-05-02,N/A,NailColor,30.123790
6739,TXN-12070,2022-11-29,RUECKER,DANGELO,2004-10-26,Megamall,NailColor,23.334323
18309,TXN-14910,2023-07-02,haley,jannie,1996-03-27,MayMall,Rebond,0.000000
59948,TXN-10050,2006-11-25,Kunze,Sage,1992-08-15,Megamall,FootSpa,100.121230
33073,TXN-18712,2009-02-06,Torp,Narciso,2008-11-18,MallOfAsia,HairColor,88.093930
42083,TXN-11054,2027-07-16,"Feest,,,,,,,,",Sterling........,1997-11-26,N/A,Manicure,55.232400
43400,TXN-24191,2025-04-10,"Torp,,,,,,,,",Casandra........,2007-10-15,Megamall,Rebond,400.231230
2721,TXN-16645,2025-09-22,VON,HOLLIE,2000-11-30,SmallMall,Manicure,43.522917

In [21]:
#filter alphabet only in last_name and first_name
df_merged['last_name'] = df_merged['last_name'].str.replace('\W', '', regex=True)
df_merged['first_name'] = df_merged['first_name'].str.replace('\W', '', regex=True)

In [22]:
#uppercase for last_name and first_name
df_merged['last_name'] = df_merged['last_name'].str.upper()
df_merged['first_name'] = df_merged['first_name'].str.upper()

In [23]:
#check if no special characters and all uppercase for names
df_merged.sample(20)

,txn_id,avail_date,last_name,first_name,birthday,branch_name,service,price
29708,TXN-19095,2008-12-01,RIPPIN,ALETHA,2004-02-28,FrankMall,HairColor,88.093930
36714,TXN-23249,2029-04-22,OLSON,ALYSON,2001-04-25,SmallMall,NailColor,30.123790
30082,TXN-05878,2013-11-01,WINDLER,MERLIN,1999-07-17,RobinsonsMall,Haircut,66.123457
34556,TXN-05511,2029-12-17,MAGGIO,ANTONIA,2003-08-30,RobinsonsMall,Haircut,66.123457
12567,TXN-25790,2008-09-29,FEEST,FRANKIE,1999-04-01,Megamall,HairColor,0.000000
39573,TXN-22774,2021-04-27,MONAHAN,ETHYL,1990-03-09,Starmall,FootSpa,100.121230
1931,TXN-09409,2027-10-05,KIRLIN,REBECCA,1990-05-30,FrankMall,NailColor,23.338226
25808,TXN-05782,2006-12-14,MCDERMOTT,ANGELINA,1998-01-24,RobinsonsMall,Rebond,400.231230
40309,TXN-04260,2013-09-27,NITZSCHE,JAYLIN,2000-03-09,Megamall,NailColor,30.123790
49936,TXN-52221,2006-10-03,COLLINS,JULIO,1995-03-19,FrankMall,HairColor,88.093930
7401,TXN-64855,2015-12-24,KOELPIN,KURT,2000-09-18,SmallMall,NailColor,23.406999
42516,TXN-57072,2018-01-22,PROHASKA,MONSERRATE,2009-01-15,Megamall,FootSpa,100.121230
25376,TXN-63168,2030-05-07,THOMPSON,ZACKERY,1991-01-03,MayMall,Manicure,55.232400
37016,TXN-50506,2030-09-29,GIBSON,MAGGIE,2009-02-09,FrankMall,Pedicure,77.987989
57953,TXN-05335,2022-11-27,SANFORD,KELLIE,1990-03-02,Starmall,Rebond,400.231230
101,TXN-17974,2008-04-12,PARISIAN,DALLAS,2008-07-05,FrankMall,NailColor,23.338226
48304,TXN-03275,2017-02-02,HARVEY,ARIELLE,1994-12-17,FrankMall,Manicure,55.232400
49373,TXN-14179,2019-08-19,SCHNEIDER,AUSTYN,1993-07-25,MayMall,NailColor,30.123790
58381,TXN-39872,2012-08-02,OBERBRUNNER,SEDRICK,1990-04-20,N/A,NailColor,30.123790
7216,TXN-64562,2007-07-10,SHIELDS,KORY,2004-04-27,Megamall,Pedicure,63.723784

In [24]:
#profiling date columns
print(df_merged['birthday'].min())
print(df_merged['birthday'].max())

print(df_merged['avail_date'].min())
print(df_merged['avail_date'].max())

print(df_merged['avail_date'].describe)
print(df_merged['birthday'].describe)

print(df_merged[(df_merged['avail_date'] <= df_merged['birthday'])])

1990-01-01
2010-12-30
2005-01-01
2030-12-30
<bound method NDFrame.describe of 0        2030-09-08
1        2026-05-26
2        2006-09-25
3        2021-08-21
4        2010-04-03
            ...
62349    2022-11-21
62350    2020-04-14
62351    2030-01-26
62352    2021-02-27
62353    2025-01-05
Name: avail_date, Length: 62354, dtype: object>
<bound method NDFrame.describe of 0        1990-07-08
1        2000-11-26
2        1993-05-22
3        2002-11-25
4        2003-07-10
            ...
62349    1997-03-06
62350    1996-05-28
62351    1996-05-28
62352    1995-03-29
62353    1993-01-10
Name: birthday, Length: 62354, dtype: object>
          txn_id  avail_date  last_name first_name    birthday    branch_name  \
9      TXN-49423  2008-08-13      BERGE    RASHEED  2010-02-05  RobinsonsMall
17     TXN-35244  2005-11-23     HAMMES     EUNICE  2006-06-13      SmallMall
97     TXN-23898  2005-05-28   BOTSFORD     GIANNI  2009-03-30  RobinsonsMall
101    TXN-17974  2008-04-12   PARISIAN     DALLAS  2008-07-05      FrankMall
120    TXN-27802  2006-08-17      BOGAN       FINN  2009-08-09      SmallMall
...          ...         ...        ...        ...         ...            ...
62140  TXN-58675  2007-07-09      CRIST   CHADRICK  2008-10-11      SmallMall
62152  TXN-05601  2005-02-09      SAUER     MALLIE  2009-07-19       Starmall
62214  TXN-45694  2005-01-30     LARSON    ALLISON  2009-11-05       Megamall
62270  TXN-14858  2005-05-07     HOEGER      CLETA  2007-12-15  RobinsonsMall
62303  TXN-39530  2007-12-28  GREENHOLT      GAVIN  2009-05-01       Megamall

         service       price
9         Rebond  302.828204
17      Manicure   43.522917
97       Haircut   51.196577
101    NailColor   23.338226
120      FootSpa   80.037329
...          ...         ...
62140   Manicure   55.232400
62152    Haircut   66.123457
62214     Rebond  400.231230
62270     Rebond  400.231230
62303    FootSpa  100.121230

[2084 rows x 8 columns]

In [25]:
#data type of birthday and avail_date should be datetime instead of object
df_merged['avail_date'] = pd.to_datetime(df_merged['avail_date'], format='%Y-%m-%d')
df_merged['birthday'] = pd.to_datetime(df_merged['birthday'], format='%Y-%m-%d')

#confirming
print(df_merged['avail_date'].describe)
print(df_merged['birthday'].describe)

<bound method NDFrame.describe of 0       2030-09-08
1       2026-05-26
2       2006-09-25
3       2021-08-21
4       2010-04-03
           ...
62349   2022-11-21
62350   2020-04-14
62351   2030-01-26
62352   2021-02-27
62353   2025-01-05
Name: avail_date, Length: 62354, dtype: datetime64[ns]>
<bound method NDFrame.describe of 0       1990-07-08
1       2000-11-26
2       1993-05-22
3       2002-11-25
4       2003-07-10
           ...
62349   1997-03-06
62350   1996-05-28
62351   1996-05-28
62352   1995-03-29
62353   1993-01-10
Name: birthday, Length: 62354, dtype: datetime64[ns]>

In [31]:
#removing rows with later date than current date
df_merged = df_merged[(df_merged['avail_date'] <= today) & (df_merged['birthday'] <= today)]

In [32]:
#removing rows when avail_date happens before birthday
df_merged = df_merged[(df_merged['avail_date'] > df_merged['birthday'])]

In [33]:
#confirming
print(df_merged['birthday'].max())
print(df_merged['avail_date'].max())

print(df_merged[(df_merged['avail_date'] <= df_merged['birthday'])])

2010-12-30 00:00:00
2023-11-22 00:00:00
Empty DataFrame
Columns: [txn_id, avail_date, last_name, first_name, birthday, branch_name, service, price]
Index: []

In [47]:
df_merged.head(30)

,txn_id,avail_date,last_name,first_name,birthday,branch_name,service,price
2,TXN-60295,2006-09-25,LESCH,FLETA,1993-05-22,SmallMall,FootSpa,80.04
3,TXN-40462,2021-08-21,KUHN,TOD,2002-11-25,Starmall,HairColor,69.58
4,TXN-08102,2010-04-03,JOHNSON,MILTON,2003-07-10,RobinsonsMall,HairColor,66.74
5,TXN-64262,2018-11-23,HACKETT,MACI,2005-06-20,SmallMall,Rebond,312.65
10,TXN-59988,2021-02-01,BASHIRIAN,BRICE,2004-07-20,RobinsonsMall,Rebond,302.83
11,TXN-08158,2023-08-05,BATZ,TIMMOTHY,2008-10-06,MayMall,NailColor,22.72
13,TXN-37609,2022-09-04,KUNDE,MARIANA,1996-10-29,MallOfAsia,FootSpa,78.04
14,TXN-31294,2018-01-04,BREITENBERG,MADGE,2006-06-22,RobinsonsMall,Haircut,51.20
18,TXN-21732,2017-03-16,TURCOTTE,HELLEN,1996-03-25,RobinsonsMall,FootSpa,75.62
19,TXN-31732,2013-04-28,LOCKMAN,CHADD,2003-06-17,RobinsonsMall,Manicure,41.90
20,TXN-38645,2021-07-21,HAMMES,ANTOINETTE,2001-07-20,MallOfAsia,Rebond,316.05
21,TXN-34790,2023-01-04,PADBERG,SHEMAR,2010-10-25,MallOfAsia,Haircut,53.14
22,TXN-30063,2015-06-25,ZIEME,ROBYN,1991-05-10,MallOfAsia,Manicure,42.65
28,TXN-13842,2022-08-31,OLSON,BERRY,2001-07-10,MallOfAsia,Pedicure,60.61
29,TXN-21223,2011-09-07,STAMM,SALVADOR,1991-12-29,Starmall,Rebond,311.42
30,TXN-09306,2023-07-24,TILLMAN,LENNA,1993-07-25,MallOfAsia,Manicure,42.65
31,TXN-61437,2014-10-04,CONNELLY,DONNELL,2007-01-06,MallOfAsia,Manicure,42.65
32,TXN-08569,2016-06-28,SCHAMBERGER,BARRY,1996-10-21,MallOfAsia,Rebond,316.05
35,TXN-41623,2016-06-05,REYNOLDS,ALLISON,1997-07-26,MayMall,Haircut,53.35
36,TXN-28201,2006-06-15,BEIER,TYRESE,2002-06-22,Megamall,Haircut,50.64
37,TXN-03974,2005-07-12,MUELLER,LYSANNE,1992-01-27,Megamall,Rebond,299.49
38,TXN-31636,2009-04-27,SHANAHAN,IGNATIUS,1990-10-25,RobinsonsMall,NailColor,23.31
39,TXN-51046,2007-10-01,FEEST,HATTIE,2000-06-20,MallOfAsia,NailColor,23.61
40,TXN-31123,2019-06-23,BARTOLETTI,JOEL,2009-10-25,MallOfAsia,Haircut,53.14
41,TXN-37101,2013-12-22,RAU,JOHN,1990-07-31,MayMall,FootSpa,80.16
42,TXN-56854,2014-02-24,DACH,KORY,2008-09-21,RobinsonsMall,Manicure,41.90
43,TXN-63806,2022-07-12,DOOLEY,SAVANAH,1996-04-13,Megamall,Manicure,41.76
44,TXN-04405,2011-03-18,ABERNATHY,DOMENICK,2001-11-11,SmallMall,FootSpa,80.04
46,TXN-52606,2020-02-24,LUETTGEN,PABLO,2001-09-23,SmallMall,Manicure,43.52
47,TXN-13398,2023-09-02,ROGAHN,GARLAND,1992-04-30,Megamall,NailColor,23.33

In [30]:
df_merged.shape

(60270, 8)

In [37]:
df_merged['price'].unique()

array([ 80.03732885,  69.58326658,  66.73522643, 312.64600238,
       302.82820422,  22.71630043,  78.04011281,  51.19657743,
        75.62054262,  41.90044138, 316.04975358,  53.1397011 ,
        42.65199321,  60.60904995, 311.42252512,  53.35478926,
        50.64499824, 299.48742382,  23.30667615,  23.61239033,
        80.15513767,  41.75977376,  43.52291733,  23.33432346,
        69.20502819,  60.67322447,  69.96470964,  70.275309  ,
        43.36428099,  51.76901792,  44.87988012,  63.72378425,
        49.6874159 ,  79.91960387,  59.74699256,  23.66869191,
        77.71786566,  61.53739757,  51.27674591, 317.51938913,
        44.69894822,  23.33822615,  67.04574075,  23.40699875,
        68.35299331,  23.36941479, 321.58657196,  61.53387571,
        62.9789798 , 323.26368577,  78.42516609,  70.475144  ,
        67.87843487,  70.77535224,  44.9348339 ,  59.82598471,
         0.        ,  66.12345678,  77.987989  , 100.12123   ,
       400.23123   ,  30.1237897 ,  55.2324    ,  88.09393   ])

In [40]:
df_merged['price'] = df_merged['price'].round(2)

In [42]:
missing_values = df_merged.isnull().sum()

In [43]:
missing_values[missing_values>0]

Series([], dtype: int64)

In [44]:
duplicate_rows = df_merged[df_merged.duplicated()]

In [45]:
duplicate_rows

Empty DataFrame
Columns: [txn_id, avail_date, last_name, first_name, birthday, branch_name, service, price]
Index: []

In [50]:
df_merged.sample(10)

,txn_id,avail_date,last_name,first_name,birthday,branch_name,service,price
6165,TXN-13374,2013-06-17,FEIL,WILMER,2000-09-19,Megamall,HairColor,69.96
49896,TXN-08261,2013-03-24,GISLASON,CONSUELO,2006-12-10,MallOfAsia,FootSpa,100.12
51626,TXN-65480,2019-01-08,KUNDE,ROBB,2001-07-30,Megamall,FootSpa,100.12
59849,TXN-06492,2009-07-24,KSHLERIN,ELISEO,1999-05-11,Megamall,Manicure,55.23
11450,TXN-29908,2017-08-17,BERGNAUM,MONTY,2010-04-28,Megamall,Manicure,0.00
3567,TXN-19376,2005-03-28,RUSSEL,HAILEY,1996-07-23,RobinsonsMall,HairColor,66.74
23771,TXN-11251,2017-05-30,HEGMANN,LUTHER,2002-09-04,RobinsonsMall,FootSpa,100.12
56099,TXN-35360,2006-11-10,TOY,BLANCA,1995-08-23,Starmall,HairColor,88.09
61074,TXN-22668,2022-02-27,DARE,CARTER,2008-08-28,RobinsonsMall,Pedicure,77.99
32416,TXN-30158,2005-08-31,KUNZE,EDUARDO,2004-05-25,Starmall,Manicure,55.23

In [76]:
import pymysql as msq

mydata=msq.connect(host="localhost",user="root",password="1425",port=3310)
cursorobj=mydata.cursor()


try:
    query='create database LabExercise3'
    cursorobj.execute(query)
    print('Created')
except:
    print('Error')

Created

In [94]:
from sqlalchemy import create_engine

# Replace with your actual MySQL database credentials and connection details
database_url = "mysql+pymysql://root:1425@localhost:3310/LabExercise3"

# Create a SQLAlchemy engine
engine = create_engine(database_url)

# Create a table named 'Transactions' and insert the DataFrame into it
table_name = "Transactions"

df_merged.to_sql(name=table_name, con=engine, index=False, if_exists='replace')

# Close the engine
engine.dispose()

C:\Users\Chy\AppData\Local\Temp\ipykernel_25928\78668439.py:12: UserWarning: The provided table name 'Transactions' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_merged.to_sql(name=table_name, con=engine, index=False, if_exists='replace')