In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [2]:
#Loading the data
today = str(date.today())
df_branch_service = pd.read_json("branch_service_transaction_info.json")
df_customer_transaction = pd.read_json("customer_transaction_info.json")

In [3]:
#Profiling the data
df_branch_service.head(10)

      txn_id    branch_name    service  price
0  TXN-24546     MallOfAsia   Manicure    NaN
1  TXN-14642       Starmall  HairColor    NaN
2  TXN-60295      SmallMall    FootSpa    NaN
3  TXN-60295       Starmall    FootSpa    NaN
4  TXN-60295        MayMall    FootSpa    NaN
5  TXN-60295      FrankMall    FootSpa    NaN
6  TXN-40462       Starmall  HairColor    NaN
7  TXN-40462       Megamall  HairColor    NaN
8  TXN-08102  RobinsonsMall  HairColor    NaN
9  TXN-08102      SmallMall  HairColor    NaN

In [4]:
df_customer_transaction.head(10)

      txn_id  avail_date last_name first_name    birthday
0  TXN-24546  2030-09-08     ORTIZ    EDUARDO  1990-07-08
1  TXN-14642  2026-05-26    NIENOW        LEA  2000-11-26
2  TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
3  TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
4  TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
5  TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
6  TXN-40462  2021-08-21      KUHN        TOD  2002-11-25
7  TXN-40462  2021-08-21      KUHN        TOD  2002-11-25
8  TXN-08102  2010-04-03   JOHNSON     MILTON  2003-07-10
9  TXN-08102  2010-04-03   JOHNSON     MILTON  2003-07-10

In [5]:
print(df_branch_service.shape)
print(df_customer_transaction.shape)

(130653, 4)
(130653, 5)

In [6]:
print(df_branch_service['txn_id'].nunique())
print(df_customer_transaction['txn_id'].nunique())

62354
62354

In [7]:
#Dropping duplicates
df_branch_service = df_branch_service.drop_duplicates(subset=['txn_id'])
df_customer_transaction = df_customer_transaction.drop_duplicates(subset=['txn_id'])

In [8]:
#confirming shape
print(df_branch_service.shape)
print(df_customer_transaction.shape)

(62354, 4)
(62354, 5)

In [9]:
#checking null values count per column
df_branch_service.isnull().sum()

txn_id             0
branch_name     8880
service            0
price          11082
dtype: int64

In [10]:
df_customer_transaction.isnull().sum()

txn_id        0
avail_date    0
last_name     0
first_name    0
birthday      0
dtype: int64

In [11]:
#fill up null values with forward fill for branch_name
df_branch_service['branch_name'].unique()

array(['MallOfAsia', 'Starmall', 'SmallMall', 'RobinsonsMall', '', None,
       'MayMall', 'FrankMall', 'N/A', 'Megamall'], dtype=object)

In [12]:
#'' and None are empty values, fill them with forward fill
# first, let '' be null
df_branch_service['branch_name'] = df_branch_service.replace('',np.nan).groupby('txn_id')['branch_name'].transform('first')
# then fill null, use forward and backward to fill
df_branch_service['branch_name'] = df_branch_service['branch_name'].ffill().bfill()

In [13]:
#confirming branch_name has no null
df_branch_service.isnull().sum()

txn_id             0
branch_name        0
service            0
price          11082
dtype: int64

In [14]:
df_branch_service['branch_name'].unique()

array(['MallOfAsia', 'Starmall', 'SmallMall', 'RobinsonsMall', 'MayMall',
       'FrankMall', 'N/A', 'Megamall'], dtype=object)

In [15]:
# group mean fill prices
df_branch_service['price'] = df_branch_service['price'].fillna(df_branch_service.groupby(['branch_name','service'])['price'].transform('mean'))

In [16]:
#confirming price has no null
df_branch_service.isnull().sum()

txn_id         0
branch_name    0
service        0
price          0
dtype: int64

In [17]:
df_branch_service.head(10)

       txn_id    branch_name    service       price
0   TXN-24546     MallOfAsia   Manicure   42.651993
1   TXN-14642       Starmall  HairColor   69.583267
2   TXN-60295      SmallMall    FootSpa   80.037329
6   TXN-40462       Starmall  HairColor   69.583267
8   TXN-08102  RobinsonsMall  HairColor   66.735226
12  TXN-64262      SmallMall     Rebond  312.646002
15  TXN-41934  RobinsonsMall  HairColor   66.735226
19  TXN-39050       Starmall   Manicure   43.364281
21  TXN-43150       Starmall    Haircut   51.769018
22  TXN-49423  RobinsonsMall     Rebond  302.828204

In [18]:
df_merged = pd.merge(df_customer_transaction, df_branch_service)

In [19]:
#profiling of merged dataframe
df_merged.isnull().sum()

txn_id         0
avail_date     0
last_name      0
first_name     0
birthday       0
branch_name    0
service        0
price          0
dtype: int64

In [20]:
df_merged.sample(20)

,txn_id,avail_date,last_name,first_name,birthday,branch_name,service,price
13479,TXN-36011,2028-08-03,gusikowski,corrine,1990-11-28,MallOfAsia,Haircut,0.000000
13584,TXN-63723,2022-12-07,brekke,leila,1999-04-11,Megamall,NailColor,0.000000
28706,TXN-17624,2028-10-02,Trantow,Miracle,1995-03-05,Starmall,Manicure,55.232400
60917,TXN-48933,2005-10-07,Jewess,Gust,2006-03-24,N/A,NailColor,30.123790
27501,TXN-42381,2021-10-20,McLaughlin,Ernesto,2009-03-01,RobinsonsMall,Rebond,400.231230
40833,TXN-55187,2009-08-25,"Nolan,,,,,,,,",Astrid........,2004-12-18,Starmall,Rebond,400.231230
10219,TXN-30622,2019-09-22,WISOZK,JAVON,1990-07-11,Megamall,Haircut,50.644998
10075,TXN-03505,2027-06-28,RODRIGUEZ,MARCOS,2000-07-24,MallOfAsia,HairColor,68.352993
18801,TXN-23776,2015-09-28,reinger,xavier,2010-08-23,SmallMall,Pedicure,0.000000
15907,TXN-35766,2027-02-22,ryan,zechariah,2002-09-30,RobinsonsMall,NailColor,0.000000
52212,TXN-30348,2025-02-06,Mueller,Natalie,1990-08-27,SmallMall,Haircut,66.123457
3231,TXN-21481,2029-09-14,CORKERY,MAGGIE,1995-02-07,MallOfAsia,Rebond,316.049754
31095,TXN-26461,2030-06-28,Lesch,Dayne,1998-01-03,FrankMall,Manicure,55.232400
55576,TXN-33247,2014-07-13,Durgan,Dana,1999-07-11,MayMall,Manicure,55.232400
2552,TXN-50345,2022-03-15,CASPER,HASKELL,1996-11-24,SmallMall,Rebond,312.646002
16190,TXN-30186,2011-11-12,hackett,breanne,2004-03-07,FrankMall,FootSpa,0.000000
4458,TXN-43738,2024-01-26,PADBERG,BRANDON,2010-02-28,Megamall,Pedicure,63.723784
31310,TXN-09222,2006-09-08,Barrows,Clifford,1995-05-29,FrankMall,Haircut,66.123457
3253,TXN-61419,2020-02-25,WYMAN,LIBBIE,1995-06-13,RobinsonsMall,NailColor,23.306676
41287,TXN-47418,2023-06-25,"Corkery,,,,,,,,",Berenice........,2005-05-16,Megamall,Rebond,400.231230

In [21]:
#filter alphabet only in last_name and first_name
df_merged['last_name'] = df_merged['last_name'].str.replace('\W', '', regex=True)
df_merged['first_name'] = df_merged['first_name'].str.replace('\W', '', regex=True)

In [22]:
#uppercase for last_name and first_name
df_merged['last_name'] = df_merged['last_name'].str.upper()
df_merged['first_name'] = df_merged['first_name'].str.upper()

In [23]:
#check if no special characters and all uppercase for names
df_merged.sample(20)

,txn_id,avail_date,last_name,first_name,birthday,branch_name,service,price
7902,TXN-18174,2018-03-02,CASPER,ALFORD,1992-10-13,Megamall,HairColor,69.964710
502,TXN-49585,2011-06-18,HEANEY,ADOLF,1990-07-27,RobinsonsMall,HairColor,66.735226
14467,TXN-34070,2014-07-10,ERNSER,GERARD,1996-08-26,N/A,Manicure,0.000000
13683,TXN-13921,2020-03-31,KOZEY,JULIANNE,2008-11-25,MayMall,Haircut,0.000000
49837,TXN-49670,2015-04-01,FAHEY,JOANIE,2010-04-21,SmallMall,HairColor,88.093930
60195,TXN-00983,2019-05-07,TURNER,LAURA,1999-07-07,RobinsonsMall,Haircut,66.123457
25082,TXN-25414,2009-04-20,JOHNSTON,ARIEL,2001-08-23,Megamall,Haircut,66.123457
5910,TXN-44415,2024-01-09,DAVIS,REGINALD,1994-01-25,SmallMall,Manicure,43.522917
58076,TXN-55236,2006-02-27,WELCH,EPHRAIM,1999-08-16,N/A,NailColor,30.123790
61292,TXN-42353,2024-10-28,CRIST,KENNY,1997-09-30,SmallMall,HairColor,88.093930
7357,TXN-49181,2025-12-25,WALSH,LORENZO,2000-11-12,MallOfAsia,Manicure,42.651993
4091,TXN-13890,2015-06-04,LESCH,THOMAS,1996-12-28,N/A,NailColor,23.668692
53693,TXN-35367,2021-12-19,KERLUKE,STAN,2010-10-22,MayMall,FootSpa,100.121230
17325,TXN-48137,2024-05-16,HELLER,KAY,1994-02-06,MallOfAsia,HairColor,0.000000
30678,TXN-43623,2015-11-02,KOHLER,DEJUAN,1996-01-04,MayMall,Haircut,66.123457
20259,TXN-09246,2030-01-18,PRICE,LAURIE,2009-06-08,FrankMall,Rebond,0.000000
56954,TXN-11578,2015-05-01,HINTZ,EUGENE,1991-10-28,Megamall,HairColor,88.093930
50656,TXN-03993,2006-07-11,BORER,QUINN,1990-03-22,FrankMall,NailColor,30.123790
32961,TXN-60104,2030-09-30,WILLIAMSON,BLANCA,1997-06-07,Starmall,FootSpa,100.121230
6235,TXN-01253,2010-07-19,DOUGLAS,ALLY,1997-09-13,MallOfAsia,Pedicure,60.609050

In [24]:
#profiling date columns
print(df_merged['birthday'].min())
print(df_merged['birthday'].max())

print(df_merged['avail_date'].min())
print(df_merged['avail_date'].max())

print(df_merged['avail_date'].describe)
print(df_merged['birthday'].describe)

print(df_merged[(df_merged['avail_date'] <= df_merged['birthday'])])

1990-01-01
2010-12-30
2005-01-01
2030-12-30
<bound method NDFrame.describe of 0        2030-09-08
1        2026-05-26
2        2006-09-25
3        2021-08-21
4        2010-04-03
            ...
62349    2022-11-21
62350    2020-04-14
62351    2030-01-26
62352    2021-02-27
62353    2025-01-05
Name: avail_date, Length: 62354, dtype: object>
<bound method NDFrame.describe of 0        1990-07-08
1        2000-11-26
2        1993-05-22
3        2002-11-25
4        2003-07-10
            ...
62349    1997-03-06
62350    1996-05-28
62351    1996-05-28
62352    1995-03-29
62353    1993-01-10
Name: birthday, Length: 62354, dtype: object>
          txn_id  avail_date  last_name first_name    birthday    branch_name  \
9      TXN-49423  2008-08-13      BERGE    RASHEED  2010-02-05  RobinsonsMall
17     TXN-35244  2005-11-23     HAMMES     EUNICE  2006-06-13      SmallMall
97     TXN-23898  2005-05-28   BOTSFORD     GIANNI  2009-03-30  RobinsonsMall
101    TXN-17974  2008-04-12   PARISIAN     DALLAS  2008-07-05      FrankMall
120    TXN-27802  2006-08-17      BOGAN       FINN  2009-08-09      SmallMall
...          ...         ...        ...        ...         ...            ...
62140  TXN-58675  2007-07-09      CRIST   CHADRICK  2008-10-11      SmallMall
62152  TXN-05601  2005-02-09      SAUER     MALLIE  2009-07-19       Starmall
62214  TXN-45694  2005-01-30     LARSON    ALLISON  2009-11-05       Megamall
62270  TXN-14858  2005-05-07     HOEGER      CLETA  2007-12-15  RobinsonsMall
62303  TXN-39530  2007-12-28  GREENHOLT      GAVIN  2009-05-01       Megamall

         service       price
9         Rebond  302.828204
17      Manicure   43.522917
97       Haircut   51.196577
101    NailColor   23.338226
120      FootSpa   80.037329
...          ...         ...
62140   Manicure   55.232400
62152    Haircut   66.123457
62214     Rebond  400.231230
62270     Rebond  400.231230
62303    FootSpa  100.121230

[2084 rows x 8 columns]

In [25]:
#data type of birthday and avail_date should be datetime instead of object
df_merged['avail_date'] = pd.to_datetime(df_merged['avail_date'], format='%Y-%m-%d')
df_merged['birthday'] = pd.to_datetime(df_merged['birthday'], format='%Y-%m-%d')

#confirming
print(df_merged['avail_date'].describe)
print(df_merged['birthday'].describe)

<bound method NDFrame.describe of 0       2030-09-08
1       2026-05-26
2       2006-09-25
3       2021-08-21
4       2010-04-03
           ...
62349   2022-11-21
62350   2020-04-14
62351   2030-01-26
62352   2021-02-27
62353   2025-01-05
Name: avail_date, Length: 62354, dtype: datetime64[ns]>
<bound method NDFrame.describe of 0       1990-07-08
1       2000-11-26
2       1993-05-22
3       2002-11-25
4       2003-07-10
           ...
62349   1997-03-06
62350   1996-05-28
62351   1996-05-28
62352   1995-03-29
62353   1993-01-10
Name: birthday, Length: 62354, dtype: datetime64[ns]>

In [26]:
#removing rows with later date than current date
df_merged = df_merged[(df_merged['avail_date'] <= today) & (df_merged['birthday'] <= today)]

In [27]:
#removing rows when avail_date happens before birthday
df_merged = df_merged[(df_merged['avail_date'] > df_merged['birthday'])]

In [28]:
#confirming
print(df_merged['birthday'].max())
print(df_merged['avail_date'].max())

print(df_merged[(df_merged['avail_date'] <= df_merged['birthday'])])

2010-12-30 00:00:00
2023-11-22 00:00:00
Empty DataFrame
Columns: [txn_id, avail_date, last_name, first_name, birthday, branch_name, service, price]
Index: []

In [29]:
df_merged.sample(20)

,txn_id,avail_date,last_name,first_name,birthday,branch_name,service,price
20024,TXN-29224,2020-01-02,WEST,ASTRID,2008-10-04,RobinsonsMall,Rebond,0.000000
43609,TXN-29676,2011-03-18,TILLMAN,CAMILLE,1997-10-04,Starmall,Pedicure,77.987989
32535,TXN-02423,2006-05-26,ABSHIRE,KAYLIN,2002-06-17,FrankMall,Haircut,66.123457
49256,TXN-17202,2019-10-14,GLEICHNER,KOLE,1994-07-15,Megamall,NailColor,30.123790
34110,TXN-64624,2006-08-17,LEGROS,ERNESTINA,1998-02-05,Megamall,NailColor,30.123790
10585,TXN-18205,2014-07-24,CRUICKSHANK,JESUS,2005-07-16,MayMall,Haircut,53.354789
7197,TXN-58210,2005-05-07,LANGOSH,KYLE,1998-02-03,MallOfAsia,Haircut,53.139701
9096,TXN-24223,2019-04-20,RUNTE,HELGA,2001-01-21,Megamall,Pedicure,63.723784
11016,TXN-30800,2005-04-23,ROGAHN,DELLA,1997-09-08,FrankMall,NailColor,23.338226
56236,TXN-54785,2013-01-06,BOGAN,DORIS,2002-02-12,SmallMall,FootSpa,100.121230
37138,TXN-59641,2022-01-23,HAUCK,ARACELI,1992-10-04,MallOfAsia,Haircut,66.123457
54957,TXN-29100,2016-09-18,GUTKOWSKI,MOLLY,1999-02-27,MallOfAsia,Haircut,66.123457
37893,TXN-01247,2015-04-06,SCHNEIDER,RICO,2000-09-18,MallOfAsia,Pedicure,77.987989
31239,TXN-04323,2018-06-08,ZULAUF,GARDNER,1998-03-18,Starmall,Haircut,66.123457
49100,TXN-26649,2019-04-27,OLSON,KEEGAN,2000-10-09,MayMall,Haircut,66.123457
19363,TXN-12415,2016-02-29,HYATT,FLAVIO,1994-11-29,MallOfAsia,Manicure,0.000000
48878,TXN-24038,2014-03-30,DAVIS,LENORA,1997-01-01,Starmall,FootSpa,100.121230
9909,TXN-29560,2009-04-14,MCKENZIE,LYLA,1993-09-01,MallOfAsia,Haircut,53.139701
8165,TXN-58356,2009-12-15,HAMMES,ICIE,1998-06-15,FrankMall,FootSpa,79.919604
42292,TXN-04161,2012-07-19,SAWAYN,RUTH,1991-01-01,Megamall,Pedicure,77.987989

In [30]:
df_merged.shape

(43131, 8)